

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    background-color: white;
    margin: 0;
}

/*NAVBAR*/
li{
    display: inline;
    padding: 5px;
}

a{
    font-family: palatino-linotype, bookantiqa, palatino, serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none;
}

a:hover{
    color: #4f31e2;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
}

.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-right: 10px;
    position: sticky;
    top: 0;
    z-index: 9;

}

#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

h1, h2, h3{
    color: #0a3f63;
    text-align: center;
    font-family: caveat, cursive;
    text-shadow: 1px .5px 4px rgba(0,0,0,0.5);
    margin: 0;
}

h1{
    font-size: 60px;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    margin-top: 20px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3{
    text-shadow: 0;
}

@keyframes color-text{
    0%{color: #b51eff;}
    100%{color: #0a3f63;}
}

.animate-text{
    animation: color-text 4s;
}

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column{
    float: left;
    width: 48%;
    padding: 10px;
}

.container{
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.container::after{
    content: "";
    clear: both;
    display: table;

}

.image-container{
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

#cat{
    background-color: #d7eaf7;
}

#dog{
    background-color: #c3e0c5;
}

#rabbit{
    background-color: #c3e0c5;
}

#guineapig{
    background-color: #d7eaf7;
}

#fish{
    background-color: #d7eaf7;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    opacity: 0;
}

.overlay:hover{
    opacity: 0.6;
}

iframe{
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

#video{
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;
}

footer{
    background-color: #216391;
    margin-top: 50px;
    margin-right: -10px;
    margin-left: -10px;
    bottom: 0;
}

table{
    width: 100%;
}

td{
    text-align: center;
    width: 33%;
}

td p{
    font-family: palatino-linotype, bookantiqa, palatino, serif;
   color: rgb(255, 255, 255);
}

/*FORM CSS*/

form{
    form{
    padding: 15px;
    display: table;
    margin: auto;
}

input{
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
    color:rgb(165, 165, 165);
    transition: 0.3s ease-in-out;
}

input:focus{
   box-sizing: border-box;
   border: 2px solid #0a3f63;
   color: #000000;
   transition: 0.3s ease-in;
   outline: none;
}

label{
    font-family: palatino-linotype, bookantiqa, palatino, serif;
    font-size: 20px;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background-color: #ffffff;
    font-family: palatino-linotype, bookantiqa, palatino, serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: 0.3s ease-in-out;
}

textarea:focus{
    box-sizing: border-box;
    border: 3px solid #0a3f63;
    color: #000000;
    transition: 0.3s ease-in;
    outline: none;
}

input[type="submit"]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: palatino-linotype, bookantiqa, palatino, serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover{
    background-color: #052133;
}

